# Copy to .env and edit
PORT=3000
MONGO_URI=mongodb://mongo:27017/anime
REDIS_HOST=redis
REDIS_PORT=6379
S3_ENDPOINT=http://minio:9000
S3_BUCKET=media
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
JWT_SECRET=verysecret